body
{
    background-color: bisque; /* Changes the background color of the HTML webpage to bisque */
    color: black; /* Changes the text color of the HTML webpage to black */
    text-align: justify; /* Chages the text alignment of the HTML webpage to justify */
    font-size: 20px; /* Changes the font size of the HTML webpage to 20 pixels */
    padding: 10px; /* Sets a padding of 10 pixels around the HTML webpage body */
}
h1
{
    text-align: center; /* Chages the text alignment of the h1 tag to center */
    font-family: Rockwell; /* Changes the font family of the h1 tag to Rockwell */
}
h3
{
    font-family: Helvetica; /* Changes the font family of the h3 tag to Helvetica */
}
q
{
    font-family: 'Trebuchet MS'; /* Changes the font family of the q tag to Trebuchet MS */
    color: maroon; /* Changes the text color of the q tag to maroon */
}
table
{
    font-size: 25px; /* Changes the font size of the table tag to 25 pixels */
}
figure
{
    float: right; /* Wraps the text around the figure element to the right */
    padding: 25px; /* Sets a padding of 25 pixels around the figure element */
}
figcaption
{
    color: gray; /* Changes the text color of the image caption to gray */
    font-style: italic; /* Changes the font style of the image caption to italics */
    padding: 5px; /* Sets a padding of 5 pixels around the image caption */
    text-align: center; /* Chages the text alignment of the image caption to center */
    font-family: Papyrus; /* Changes the font family of the image caption to Papyrus */
}
li
{
    font-family: Verdana; /* Changes the font family of the li tag to Verdana */
    padding: 10px; /* Sets a padding of 10 pixels around the list elements */
}
#home
{
    background-image: url("book.jpeg"); /* Sets a background image to the tag with id home */
    background-size: cover; /* Stretches the image to fill the entire content area */
    background-attachment: fixed; /* Fixes the image in position so that it will not scroll with the rest of the webpage */
    color: black; /* Sets text color to black */
    text-align: center; /* Aligns the text to the center */
    font-size: 20px; /* Sets font size to 20 pixels */
}
.content
{
    padding: 50px; /* Sets a padding of 50px around the content class */
    text-shadow: 1px 1px rosybrown; /* Gives a rosybrown shadow to the text in the content class */
}
.list
{
    color: crimson; /* Sets the text color to crimson in the list class */
    text-shadow: 1px 1px gray; /* Gives a gray shadow to the text in the list class */
}